{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>stAtlas | About</title>
    
    <!-- 正确的静态文件路径 -->
    <link rel="stylesheet" href="{% static 'css/about.css' %}" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    
    <!-- 预加载背景图片 -->
    <link rel="preload" href="{% static 'images/pg5.jpg' %}" as="image">
    
    <!-- 正确的 JavaScript 文件路径 -->
    <script src="{% static 'js/about.js' %}" defer></script>
</head>

<body>
<header>
    <nav class="navbar">   
        <a href="https://lab-li.ciim-hannover.de/">
            <img src="{% static 'images/lab_li.png' %}" alt="Lab Logo" width="120" height="60">  
        </a>

        <ul class="nav-links">
            <li><a href="{% url 'home' %}">Home</a></li>
            <!-- <li><a href="{% url 'mapping' %}">Mapping</a></li> -->
            <li><a href="{% url 'datasets' %}">Datasets</a></li>
            <!-- <li><a href="{% url 'search' %}">Search</a></li> -->
            <li><a href="{% url 'help' %}">Help</a></li>
            <li class="active"><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'contacts' %}">Contact</a></li>
        </ul>

        <a href="https://www.ciim-hannover.de/en/" target="_blank">
            <img src="{% static 'images/CiiM-Header-Logo-white.svg' %}" width="120" height="60" alt="CiiM">
        </a>
    </nav>
</header>

    
      <main>
        <section id="about">
            <h2>About stRNAAtlas</h2>
            <p> Welcome to the Mycobacterial Granuloma Spatial Atlas, an interactive web platform designed to explore the spatial organization and molecular dynamics of granulomas induced by mycobacterial infections. Utilizing state-of-the-art spatial transcriptomics, our comprehensive atlas reveals distinct granuloma niches—each characterized by specialized immune cells, signaling pathways, and tissue remodeling processes. Our dataset encompasses a diverse array of granulomas from tuberculosis (TB), non-tuberculous mycobacterial (NTM) infections, lymphoid tissues, and sarcoidosis, highlighting unique features that differentiate infectious from non-infectious granulomatous diseases.
                This webtool allows researchers to:</p>
              <br>
            <p>- Navigate spatially resolved transcriptomic data from human granuloma tissues.<br>
               - Investigate cellular composition and niche-specific gene expression patterns.<br>
               - Examine detailed pathway and cytokine activity across granuloma niches.<br>
               - Compare granuloma types to identify disease-specific biomarkers and therapeutic targets.</p>
               <br>
            <p>Our atlas offers a valuable resource for biomedical researchers, clinicians, and immunologists 
                aiming to understand the complex interplay of immune responses, pathogen persistence, and tissue 
                remodeling in granulomatous diseases. Start exploring to gain new insights into granuloma biology 
                and potential avenues for precision therapeutic interventions.</p>
        </section>
        


        <section id="license">
            <h2>License</h2>
            <p>stRNAAtlas is open and free for everyone to use and there is no login requirement. </p>
        </section>

        <section id="acknowledgement">
            <h2>Acknowledgement</h2>
            <p>This work is supported an ERC Starting Grant (948207, ModVaccine) to Y.L., 
                by the Ministry of Science and Culture of Lower Saxony through funds from the 
                program Zukunft.Niedersachsen of the Volkswagen Foundation for the CAIMed  Lower Saxony Center 
                for Artificial Intelligence and Causal Methods in Medicine project (grant no. ZN4257) to Y.L.,
                 the Deutsche Forschungsgemeinschaft (DFG, German Research Foundation) under Germanys Excellence Strategy
                  - EXC 2155 - project number 390874280 to Y.L., This project is supported by the Lower Saxony MWK Sprung Fund to C.X. (19777006). 
                  J.C.S. is supported by the Fritz Thyssen Foundation (10.21.2.021MN) and the Else Kröner-Fresenius Foundation (2023_EKCS.18). 
                  L.N. and J.C.S. are supported by the Ann Theodore Foundation and the German Center for Lung Research (FKZ 82DZL002B1, FKZ 82DZL002C1 & FKZ 82DZLT82C1). 
                  MK is supported by the Deutsche Forschungsgemeinschaft (KA 6005/1-1).</p>
        </section>
    </main>



    <div>© 2025 All Rights Reserved | Yang Li lab of CiiM</div>
  </body>


</html>
