{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>stAtlas | Home</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <!-- 引入 JavaScript 文件 -->
    <script src="{% static 'js/home.js' %}" defer></script>
    

  </head>
  <body>
    <header>
    <nav class="navbar">   
      <a href="https://lab-li.ciim-hannover.de/">
        <img src="{% static 'images/lab_li.png' %}" alt="" width="120" height="60" >  
      </a>
    
    
      <ul class="nav-links">
        <li class="active"><a href="{% url 'home' %}">Home</a></li>
        <!-- <li><a href="{% url 'mapping' %}">Mapping</a></li> -->
        <li><a href="{% url 'datasets' %}">Datasets</a></li>
        <!-- <li><a href="{% url 'search' %}">Search</a></li> -->
        <li><a href="{% url 'help' %}">Help</a></li>
        <li><a href="{% url 'contacts' %}">Contact</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        
      </ul>
     
      
        <a href="https://www.ciim-hannover.de/en/" target="_blank">
          <img src="{% static 'images/CiiM-Header-Logo-white.svg' %}" width="120"  height="60"   alt="CiiM">
        </a>
    </nav>

    </header>

    <section>
      <p>STRNAATLAS</p>
      <span>
        <!-- stRNAAtlas is an integrated web server for accurate and flexible spatial
        mapping of user-uploaded single-cell RNA-seq (scRNA-seq) data. It is
        founded on a manually<br />
        curated compilation of spatial transcriptomics datasets across diverse
        organs, developmental stages and pathological states. The tissue-scale
        spatial cellular maps<br />
        would subsequently facilitate the interpretation of intercellular
        communications in the spatial context. -->

        Welcome to the Mycobacterial Granuloma Spatial Atlas, an interactive web 
        platform designed to explore the spatial organization and molecular dynamics 
        of granulomas induced <br />
        by mycobacterial infections. Utilizing state-of-the-art spatial transcriptomics,
        our comprehensive atlas reveals distinct granuloma niches—each characterized by 
        specialized<br /> immune cells, 
        signaling pathways, and tissue remodeling processes. Our dataset encompasses 
        a diverse array of granulomas from tuberculosis (TB), non-tuberculous <br /> 
        mycobacterial (NTM) infections,
        lymphoid tissues, and sarcoidosis, highlighting unique features that differentiate 
        infectious from non-infectious granulomatous diseases. 
      </span>
      <button id="know-more-btn" data-url="{% url 'about' %}">Know More</button>
      <!-- <div class="button-wrap">
        <button id="know-more-btn" data-url="{% url 'about' %}">
          <span>Know More</span>
        </button>
        <div class="button-shadow"></div>
      </div> -->
      
    </section>



    <main>
      <section>
        <p>
          SPATIAL<br />
          MAPPING
        </p>

        <div>
          <img src="{% static 'images/capture1.png' %}" alt="" width="365" data-url="{% url 'datasets' %}" onclick="redirectToPage(this)"/>

          <span>Spatial Mapping</span>
          <span>
            The key tool designed for accurate spatial mapping for scRNA-seq
            data<br />
            based on properly matched spatial transcriptomics data.
          </span>
        </div>
      </section>

      <section>
        <p>
          DATASET<br />
          BROWSER
        </p>

        <div>
          <img src="{% static 'images/capture2.png' %}" alt="" width="365" data-url="{% url 'lungs' %}" onclick="redirectToPage(this)"/>

          <span>Dataset Browser</span>
          <span>
            Dataset browser comprises modules of meta information, basic<br />
            visualization and files download of curated ST datasets.
            Additionally,<br />
            specific gene searches can also be performed.
          </span>
        </div>
      </section>
    </main>

    <footer>
      <p>CONTACT US</p>

      <section>
        <div>
          <p>CiiM</p>
          <span>
            Zentrum für Individualisierte Infektionsmedizin<br />
            Centre for Individualised Infection Medicine (CiiM)<br />
            Feodor-Lynen-Straße 11<br />
            30625 Hannover<br />
          </span>

          <p>Telefon: +49 511 22002 7226</p>
        </div>

        <form id="contactForm">
          <div>
              <span>   </span>
              <input type="text" id="companyName" name="companyName" placeholder="Company Name" required /><br><br>
              <input type="text" id="fullName" name="fullName" placeholder="Full Name" required /><br><br>
              <input type="email" id="emailAddress" name="emailAddress" placeholder="Email Address" required /><br><br>
              <button type="button" id="sendButton">Send</button> <!-- 使用 button 元素 -->
          </div>
      </form>

        <div>
          <img src="{% static './images/facebook.svg' %}" alt="" width="22" />
          <img src="{% static './images/twitter.svg' %}" alt="" width="22" />
          <img src="{% static './images/instagram.svg' %}" alt="" width="22" />
          <img src="{% static './images/youtube.svg' %}" alt="" width="22" />
          <img src="{% static './images/snapchat.svg' %}" alt="" width="22" />
        </div>
      </section>
    </footer>

    <!-- <div>© 2025 All Rights Reserved | Yang Li lab of CiiM</div> -->
    <div>© <span id="footer-year"> </span>  All Rights Reserved | Yang Li lab of CiiM</div>

  </body>


</html>
