{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <title>mbAtlas | Datasets| Lung</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/lungs.css' %}" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="preload" href="{% static 'images/pg9.jpg' %}" as="image">
    <script src="{% static 'js/lungs.js' %}" defer></script>
</head>


<body>
    <header>
        <nav class="navbar">   
          <a href="https://lab-li.ciim-hannover.de/">
            <img src="{% static 'images/lab_li.png' %}" alt="" width="120" height="60" >  
          </a>
        
        
          <ul class="nav-links">
            
            <li><a href="{% url 'home' %}">Home</a></li>
            <!-- <li><a href="{% url 'mapping' %}">Mapping</a></li> -->
            <li class="active"><a href="{% url 'datasets' %}">Datasets</a></li>
            <!-- <li><a href="{% url 'search' %}">Search</a></li> -->
            <li><a href="{% url 'help' %}">Help</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'contacts' %}">Contact</a></li>
          </ul>
         
          
            <a href="https://www.ciim-hannover.de/en/" target="_blank">
              <img src="{% static 'images/CiiM-Header-Logo-white.svg' %}" width="120"  height="60"   alt="CiiM">
            </a>
        </nav>
    
        </header>
    <main>
    
        <!-- 重复的卡片元素 -->
        <div class="section-title">
            <h2>Pulmonary Granulomas Samples</h2>
          </div>

     <div class="container">
        <div class="card">
            <div class="photo"><img src="{% static 'images/cover1.png' %}" alt=""></div>
            <h1>ACPMB1</h1>
            <h2>Human, Lung </h2>
            <p>Sex: F<br />
               Age: 58<br />
               <!-- Bacteria: M. xenopi -->
            </p>
            <a href="{% url 'dataview1' %}" class="know-more-btn">Know More</a>
        </div>

        <div class="card">
            <div class="photo"><img src="{% static 'images/capture1.PNG' %}" alt=""></div>
            <h1>ACPMB2</h1>
            <h2>Human, Lung </h2>
            <p>Sex: F<br />
               Age: 64<br />
            </p>
            <a href="#">Know More</a>
        </div>

        <div class="card">
            <div class="photo"><img src="{% static 'images/capture1.PNG' %}" alt=""></div>
            <h1>ACPMB3</h1>
            <h2>Human, Lung </h2>
            <p>Sex: M<br />
               Age: 34<br />
            <a href="#">Know More</a>
        </div>

        <div class="card">
            <div class="photo"><img src="{% static 'images/capture1.PNG' %}" alt=""></div>
            <h1>ACPMB4</h1>
            <h2>Human, Lung </h2>
            <p>Sex: M<br />
               Age: 69<br />
            <a href="#">Know More</a>
        </div>
        <div class="card">
            <div class="photo"><img src="{% static 'images/capture1.PNG' %}" alt=""></div>
            <h1>ACPMB5</h1>
            <h2>Human, Lung </h2>
            <p>Sex: M<br />
               Age: 76<br />
            <a href="#">Know More</a>
        </div>
        <div class="card">
            <div class="photo"><img src="{% static 'images/capture1.PNG' %}" alt=""></div>
            <h1>ACPMB6</h1>
            <h2>Human, Lung </h2>
            <p>Sex: M<br />
               Age: 21<br />
            <a href="#">Know More</a>
        </div>
        <div class="card">
            <div class="photo"><img src="{% static 'images/capture2.PNG' %}" alt=""></div>
            <h1>ACPMB7</h1>
            <h2>Human, Lung </h2>
            <p>Sex: M<br />
               Age: 47<br />
            <a href="#">Know More</a>
        </div>
        <div class="card">
            <div class="photo"><img src="{% static 'images/capture1.PNG' %}" alt=""></div>
            <h1>ACPMB8</h1>
            <h2>Human, Lung </h2>
            <p>Sex: F<br />
               Age: 39<br />
            <a href="#">Know More</a>
        </div>
        <div class="card">
            <div class="photo"><img src="{% static 'images/capture1.PNG' %}" alt=""></div>
            <h1>ACPMB9</h1>
            <h2>Human, Lung </h2>
            <p>Sex: F<br />
               Age: 58<br />
            <a href="#">Know More</a>
        </div>
        <div class="card">
            <div class="photo"><img src="{% static 'images/capture1.PNG' %}" alt=""></div>
            <h1>ACPMB10</h1>
            <h2>Human, Lung </h2>
            <p>Sex: F<br />
               Age: 25<br />
            <a href="#">Know More</a>
        </div>
        <div class="card">
            <div class="photo"><img src="{% static 'images/capture1.PNG' %}" alt=""></div>
            <h1>ACPMB11</h1>
            <h2>Human, Lung </h2>
            <p>Sex: M<br />
               Age: 50<br />
            <a href="#">Know More</a>
        </div>
        <div class="card">
            <div class="photo"><img src="{% static 'images/capture1.PNG' %}" alt=""></div>
            <h1>ACPMB13</h1>
            <h2>Human, Lung </h2>
            <p>Sex: F<br />
               Age: 66<br />
            <a href="#">Know More</a>
        </div>
        <div class="card">
            <div class="photo"><img src="{% static 'images/capture1.PNG' %}" alt=""></div>
            <h1>ACPMB14</h1>
            <h2>Human, Lung </h2>
            <p>Sex: M<br />
               Age: 76<br />
            <a href="#">Know More</a>
        </div>
        <div class="card">
            <div class="photo"><img src="{% static 'images/capture1.PNG' %}" alt=""></div>
            <h1>ACPMB16</h1>
            <h2>Human, Lung </h2>
            <p>Sex: F<br />
               Age: 74<br />
            <a href="#">Know More</a>
        </div>
        <div class="card">
            <div class="photo"><img src="{% static 'images/capture1.PNG' %}" alt=""></div>
            <h1>NSG005</h1>
            <h2>Human, Lung </h2>
            <p>Sex: M<br />
               Age: 49<br />
            <a href="#">Know More</a>
        </div>

        <div class="card">
            <div class="photo"><img src="{% static 'images/capture1.PNG' %}" alt=""></div>
            <h1>NSG013</h1>
            <h2>Human, Lung </h2>
            <p>Sex: M<br />
               Age: 59<br />
            <a href="#">Know More</a>
        </div>

        <div class="card">
            <div class="photo"><img src="{% static 'images/capture1.PNG' %}" alt=""></div>
            <h1>NSG014</h1>
            <h2>Human, Lung </h2>
            <p>Sex: M<br />
               Age: 52<br />
            <a href="#">Know More</a>
        </div>

        <div class="card">
            <div class="photo"><img src="{% static 'images/capture1.PNG' %}" alt=""></div>
            <h1>NSG020_1</h1>
            <h2>Human, Lung </h2>
            <p>Sex: F<br />
               Age: 71<br />
            <a href="#">Know More</a>
        </div>

        <div class="card">
            <div class="photo"><img src="{% static 'images/capture1.PNG' %}" alt=""></div>
            <h1>NSG020_2</h1>
            <h2>Human, Lung </h2>
            <p>Sex: F<br />
               Age: 71<br />
            <a href="#">Know More</a>
        </div>

        <div class="card">
            <div class="photo"><img src="{% static 'images/capture1.PNG' %}" alt=""></div>
            <h1>NSG020_3</h1>
            <h2>Human, Lung </h2>
            <p>Sex: F<br />
               Age: 71<br />
            <a href="#">Know More</a>
        </div>

        <div class="card">
            <div class="photo"><img src="{% static 'images/capture1.PNG' %}" alt=""></div>
            <h1>NSG024</h1>
            <h2>Human, Lung </h2>
            <p>Sex: F<br />
               Age: 60<br />
            <a href="#">Know More</a>
        </div>

        <div class="card">
            <div class="photo"><img src="{% static 'images/capture1.PNG' %}" alt=""></div>
            <h1>YTB001</h1>
            <h2>Human, Lung </h2>
            <p>Sex: M<br />
               Age: 81<br />
            <a href="#">Know More</a>
        </div>

        <div class="card">
            <div class="photo"><img src="{% static 'images/capture1.PNG' %}" alt=""></div>
            <h1>YTB005</h1>
            <h2>Human, Lung </h2>
            <p>Sex: F<br />
               Age: 35<br />
            <a href="#">Know More</a>
        </div>

        <div class="card">
            <div class="photo"><img src="{% static 'images/capture1.PNG' %}" alt=""></div>
            <h1>YTB008</h1>
            <h2>Human, Lung </h2>
            <p>Sex: F<br />
               Age: 59<br />
            <a href="#">Know More</a>
        </div>

        <div class="card">
            <div class="photo"><img src="{% static 'images/capture1.PNG' %}" alt=""></div>
            <h1>YTB010</h1>
            <h2>Human, Lung </h2>
            <p>Sex: M<br />
               Age: 63<br />
            <a href="#">Know More</a>
        </div>

        <div class="card">
            <div class="photo"><img src="{% static 'images/capture1.PNG' %}" alt=""></div>
            <h1>YTB012</h1>
            <h2>Human, Lung </h2>
            <p>Sex: F<br />
               Age: 79<br />
            <a href="#">Know More</a>
        </div>

        <div class="card">
            <div class="photo"><img src="{% static 'images/capture1.PNG' %}" alt=""></div>
            <h1>YTB015</h1>
            <h2>Human, Lung </h2>
            <p>Sex: M<br />
               Age: 71<br />
            <a href="#">Know More</a>
        </div>
        <!-- ...复制上面的卡片，直到总数达到40个... -->
    </div>
    </main>

    <footer class="footer">
        <p>© 2025 All Rights Reserved | AG-Li of CiiM</p>
    </footer>
</body>

</html>